@import "tailwindcss";

@font-face {
  font-family: 'TrebuchetMS';
  src: url('/assets/fonts/trebuchetms.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: var(--font-trebuchet), sans-serif;
}


:root{
  --clr-green: #009398
}

.containers{
  max-width: 1110px;
  margin: auto;
}

html {
  scroll-behavior: smooth;
}